/* We can add any custom styles here if needed */
        body {
            font-family: 'Inter', sans-serif;
        }
        /* Style for the number input (removes arrows) */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            -moz-appearance: textfield;
        }